<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src ="https://cdn.tailwindcss.com"></script>
   <link rel=" stylesheet" href ="./public/css/style.css">
    <title>Pet Check Plus</title>
</head>
<body>
    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">

           
                
                    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Pet's Information</h2>
                            
                    
                    <br>
                    <div>
                        <label for="Name" class="sr-only">Pet's Name</label>
                        <input id="Name" name="Name" type="Name"  required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Pet's Name">
                    </div>
                    <br>
                    <div>
                        <label for="species" class="sr-only">Pet's Species</label>
                        <input id="species" name="species" type="species"  required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Pet's Species">
                    </div>
                    <br>
                    <div>
                        <label for="gender" class="sr-only">Pet's Gender</label>
                        <input id="gender" name="gender" type="gender"  required class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="Pet's Gender">
                    </div>
                    <br>
                    <label class="form-label " for="customFile">Upload an image of your pet:</label>
                    <input type="file" class="form-controlborder-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600 " id="customFile" />
                    <br>
                <div class="flex items-center justify-between">

              <div class="text-lg">
                <a href="#" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600">Submit</a>
                    </div>
                </div>    
            </div>
                    