<div class="container mx-auto">
  <div class="flex justify-around">
  <img src="https://www.aaamoversinc.com/wp-content/uploads/2019/08/GettyImages-Pets.jpg" alt="happy animals" class="h-auto w-2/4">
  </div>
</div>

<section class="mt-5 mx-64">
  <h1 class="text-center text-3xl font-semibold whitespace-nowrap text-blue-500">Welcome to Pet Check Plus!</h1>
  <p class="mt-4 text-center text-2xl font-semibold text-blue-500">Keep all of your pet's important documents in one
    place and never forget
    when their next check-up is due. Simply add your pet's information and keep track of their vaccination
    records, vet appointments, and more!</p>
  <p class="mt-4 mb-10 text-center text-2xl font-semibold text-blue-500">Login to get started!</p>
</section>