<body>
  <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">

      <img class="mx-auto h-20.5 w-auto"
        src="https://www.freepnglogos.com/uploads/dog-png/png-puppy-dog-transparent-puppy-dog-images-pluspng-32.png"
        alt="Pet check plus logo ">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Welcome to Pet Check Plus</h2>
      <p class="mt-2 text-center text-sm text-blue-500"><a href="#"
          class="font-medium text-blue-500 hover:text-indigo-500">Your Source For All Your Pet Documentation</a></p>
    </div>
  </div>
  <div class="grid grid-cols-2">
    <div class="col">
      <form class="mt-8 space-y-6" action="#" method="POST">
        <input type="hidden" name="remember" value="true">
        <div class="-space-y-px rounded-md shadow-sm">
          <div class="align items-left p-2">
            <label for="email-login">Email</label>
            <input id="email-login" name="email" type="email" autocomplete="email" required
              class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <label for="password-login">Password</label>
            <input id="password-login" name="password-login" type="password-login" required
              class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          </div>

          <div class="text-lg">
            <button id="login-btn">
              <a href="#"
                class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600">Log
                In</a>
            </button>
          </div>
        </div>
      </form>
      </div>

      <div>
        <form class="p-2">
          <label for="email-signup">Email</label>
          <input id="email-signup" name="email-signup" type="email-signup" autocomplete="email-signup" required
            class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

          <label for="password-signup">Password</label>
          <input id="password-signup" name="password-signup" type="password-signup" required
            class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

          <label for="name-signup">Name</label>
          <input id="name-signup" name="name-signup" type="FirstName" required
            class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
          <button id = "signup-btn">
            <div class="text-lg p-2">
              <a href="#"
                class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600">Sign
                Up</a>
            </div>
          </button>
        </form>
    
  </div>

</body>

</html>
<script src="./js/login.js"></script>