
<h3 class=" text-center pt-5 text-3xl font-semibold whitespace-nowrap text-blue-500">Update Your Profile!!</h3>
<section class="w-3/6 m-auto space-y-8">
<form class="p-2">
    <label for="email-signup">Email:</label>
    <input id="updated-email" name="email-signup" value="{{email}}" type="email-signup" autocomplete="email-signup" required
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="password-signup">Password:</label>
    <input id="updated-password" name="password-signup" type="password-signup" required
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="name-signup">Name:</label>
    <input id="updated-name" name="name-signup" value="{{name}}" type="FirstName" required
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
    
    <button id="update-profile-btn" data-id="{{id}}">
        <div class="text-lg p-2" >
            <a href="#"
                class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600">UPDATE PROFILE
            </a>
        </div>
    </button>
</form>
</section>

<script src="/js/profileUpdate.js"></script>